<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653430336060-8hsk516ev4ta092obbansild97r9aib2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653430336060-8hsk516ev4ta092obbansild97r9aib2</string>
	<key>API_KEY</key>
	<string>AIzaSyA-5tPzndzyPBaq86To4H5lXv_OuFmb-FA</string>
	<key>GCM_SENDER_ID</key>
	<string>653430336060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rnfirelab</string>
	<key>PROJECT_ID</key>
	<string>rnfirelab</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653430336060:ios:8f1d843e29b3bdff4b7139</string>
	<key>DATABASE_URL</key>
	<string>https://rnfirelab.firebaseio.com</string>
</dict>
</plist>